@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Instituto Alfa</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Bienvenido a Instituto Alfa</h2>
        <ul>
            <li>
                El Instituto Alfa se dedica a capacitar profesionales de TI, ofreciéndoles cursos de
                capacitación en temas como UML, EJB, .NET, etc.
            </li>
            <li>
                Todos los cursos tienen características
                bimestrales y existen cuatro bimestres en el año, separados por períodos de vacaciones.
            </li>
            <li>
                Un mismo alumno puede estar tomando sólo un curso en un bimestre dado porque existe un
                horario único en que se hacen las clases de todos los cursos del bimestre (lunes, miércoles
                y viernes de 18 a 21 hrs). Por la misma razón un profesor puede estar dictando sólo un
                curso en un bimestre.
            </li>
            <li>
                En un bimestre dado se dictan hasta un máximo de 20 cursos, cada
                uno en una sala distinta. Pueden haber dos o más instancias del mismo curso en un mismo
                bimestre, cada una a cargo de su propio profesor (por ejemplo; 4 cursos de UML, 8 de EJB
                y 6 de .NET).
            </li>
            <li>
                Los alumnos y profesores se identifican por el RUN o Número de la cédula de identidad. Los
                cursos y salas de clases tienen un código que las identifica (por ejemplo; .NET es el curso
                C121 y el segundo bimestre del 2013 se dictó en las salas A1, A2 y B2 por los profesores
                Perez, Gomez y Millas respectivamente).
            </li>
            <li>
                Un curso puede ser dictado sólo por algunos profesores del instituto, pero en general casi
                todos los profesores son capaces de dictar más de un curso.
            </li>
            <li>
                Cada sala de clases tiene una capacidad máxima de alumnos y algunos cursos sólo pueden ser dictados en algunas salas
                de clases que tienen características especiales de equipamiento.
            </li>
        </ul>
        
    </div>
</div>